
body{
    padding: 5px;
    background-color: #eaeaea;

}

div#heading{
    text-align: center;
    width: 70%;
    height: 10%;
    margin-bottom: 0.5%;
    float: left;
}

#heading p{
    font:30px sans-serif;
    font-weight: bold;
    padding: 8px;
    margin:10px;
    margin-top: 0;
    font-family: Helvetica;
    font-weight: normal;
    background-color: #0c5b91;
    color: white;
    letter-spacing: 1.5px;


}


div#map{
    width: 70%;
    height: 700px;
    float: left;
    display: inline;
    text-align: center;
    z-index: 1;

}


div#sliderMap{
    width: 70%;
    height: 700px;
    float: left;
    display: inline;
    text-align: center;
    z-index: 1;
    margin-bottom: 50px;

}

div#sliderContainer{
    width: 68%;
    float: left;

}

div#legend{
    z-index: 9;
    width:100px;
    height: 100px;
    position: absolute;
    bottom: 30%;
    left: 50px;
}

#legend text{
    font-family: sans-serif;
}

div#countryContainer{
    background-color: #CDDEEE;
    width: 30%;
    float: right;
    text-align: center;

}

div#countryStats{

    width: 28%;
    height: 100px;
    text-align: center;
    margin-bottom: 0.5%;
    display: inline;
    padding: 10px;
}

div#lineGraph{

    width: 28%;
    height: 550px;
    text-align: center;
    margin-bottom: 0.5%;
    display: inline;
    padding: 10px;

}

div#barGraphContainer{
    width: 30%;
    float: right;
    height: 100px;
    background-color: #D3D3D3;
    text-align: center;
    font-family: sans-serif;
}

div#barGraph{
    background-color: 	#D3D3D3;
}

div#date{
    width:100%;
    float:left;
}

#date h3{
    color:orangered;
    font-family: sans-serif;
}

.serifFont{
    font: 12px serif;
}

.sanSerifFont{
    font: 12px sans-serif;
    font-family: Helvetica;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 20px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 1px solid black;
    border-radius: 2px;
    pointer-events: none;
}

#map svg{
    text-align: center;
    align-content: center;
}

.xAxis text{
    fill: #050543;
}

.yLabel{

}

.xLabel{
    fill:#050543;
    font-family: sans-serif;
}



.countryLabel{
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 2px;
}

.countryNumber{
    font-family: sans-serif;
    margin-top: 0;
    font-size: 26px;
    color: #196dde;
    font-weight: bold
}

#countryNumbers{
    width:100%;
    padding: 10px 10px;
    text-align: center;
    float:left;
    display: inline;
}

#countryName{

    display: inline;
    width: 400px;
    text-align: center;
    font:26px sans-serif;
    color: #050543;
    font-weight: bold;
}

#red{
    color: #8d0707;
}

.ticks span{
    font-family: sans-serif;
}

.ticks {
    display: flex;
    justify-content: space-between;
    padding:10px 20px;
    width: 100%;
}
.tick {
    position: relative;
    display: flex;
    justify-content: center;
    width: 1px;
    background: gray;
    height: 10px;
    line-height: 50px;
    margin-bottom: 20px;

}

#slider{
    width: 100%;
}
* {box-sizing: border-box;}

.tab {
    tab-size: 6;
}

.button {
    /* Green */
    border: none;
    color: white;
    padding: 6px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: #0c5b91;
    color:white;
    border: 2px solid #ffffff;
}

.button1:hover {
    background-color: #ffffff;
    color: #0c5b91;
    border: 2px solid #0c5b91;
}

.button2 {
    background-color: #620505;
    color:white;
    border: 2px solid #ffffff;
}

.button2:hover {
    background-color: #ffffff;
    color: #620505;
    border: 2px solid #620505;
}

#barGraphContainer h2{
    margin: 7px;

    font-family: Helvetica;
}

#slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0c508d;
    cursor: pointer;
}

#slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0c508d;
    cursor: pointer;
}